@model CoatesWebsite.ViewModels.IndexVm
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html lang="en">
<body>
    <a id="top"></a>
    <!-- Main image -->
    <div class="page-header" data-parallax="true" style="background-image: url('../assets/img/summerhouse-front.jpg');">
    </div>
    <!-- End Main Image -->
    <!-- Placeholder icons -->
    <div class="main text-center">
        <div style="background-color: #584f4a !important; text-align: center !important;">
            <div class="divider"></div>
            <div class="divider"></div>
            <img class="" style="width: 300px; display: inline " src="./assets/img/business-card-stripped.png" />
        </div>
        <div class="section text-center">
            <div class="row justify-content-md-center">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-album-2"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Gallery</h4>
                            <p class="description">Please take some time to browse through an album of some work I have completed.</p>
                            <a href="#gallery" class="btn btn-link btn-danger">See more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-bulb-63"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Renovations</h4>
                            <p>A selection of larger scale projects I have worked on.</p>
                            <a href="#projects" class="btn btn-link btn-danger">See more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-badge"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Contact me</h4>
                            <p>Feel free to get in touch with any quotes or enquiries.</p>
                            <a href="#contact" class="btn btn-link btn-danger">See more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Placeholder icons -->
    <!-- Gallery -->
    <div class="main">
        <div class="section text-center">
            <a id="gallery"></a>
            <div style="background-color: #eef1ef !important">
                <br />
                <br />
            </div>
            <h2 class="text-center" style="color:#d1b181 !important">Gallery</h2>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ul id="tabs" class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#all" role="tab" aria-selected="true">
                                All
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#carpentry" role="tab" aria-selected="false"> Bespoke Carpentry</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#furniture" role="tab" aria-selected="false"> Furniture</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#worktops" role="tab" aria-selected="false"> Concrete Worktops</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="my-tab-content" class="tab-content text-center">
                <div class="tab-pane active" id="all" role="tabpanel">
                    <div class="container">
                        <div class="row">
                            <div class="gallery" style="align-items:center">
                                @foreach (CoatesWebsite.ViewModels.PictureVm pictureVm in Model.PictureVms)
                                {
                    <figure>
                        <img src=@pictureVm.Path alt="" />
                    </figure>}
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display:none;">
                                <symbol id="close" viewBox="0 0 18 18">
                                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M9,0.493C4.302,0.493,0.493,4.302,0.493,9S4.302,17.507,9,17.507
			S17.507,13.698,17.507,9S13.698,0.493,9,0.493z M12.491,11.491c0.292,0.296,0.292,0.773,0,1.068c-0.293,0.295-0.767,0.295-1.059,0
			l-2.435-2.457L6.564,12.56c-0.292,0.295-0.766,0.295-1.058,0c-0.292-0.295-0.292-0.772,0-1.068L7.94,9.035L5.435,6.507
			c-0.292-0.295-0.292-0.773,0-1.068c0.293-0.295,0.766-0.295,1.059,0l2.504,2.528l2.505-2.528c0.292-0.295,0.767-0.295,1.059,0
			s0.292,0.773,0,1.068l-2.505,2.528L12.491,11.491z" />
                                </symbol>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="carpentry" role="tabpanel">
                    <div class="container">
                        <div class="row">
                            <div class="gallery">
                                @foreach (CoatesWebsite.ViewModels.PictureVm pictureVm in Model.PictureVms
                                   .Where(x => x.PictureCategory == CoatesWebsite.Data.Enums.PictureCategory.BespokeCarpentry))
                                {
                    <figure>
                        <img src=@pictureVm.Path alt="" />
                    </figure>}

                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display:none;">
                                <symbol id="close" viewBox="0 0 18 18">
                                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M9,0.493C4.302,0.493,0.493,4.302,0.493,9S4.302,17.507,9,17.507
			S17.507,13.698,17.507,9S13.698,0.493,9,0.493z M12.491,11.491c0.292,0.296,0.292,0.773,0,1.068c-0.293,0.295-0.767,0.295-1.059,0
			l-2.435-2.457L6.564,12.56c-0.292,0.295-0.766,0.295-1.058,0c-0.292-0.295-0.292-0.772,0-1.068L7.94,9.035L5.435,6.507
			c-0.292-0.295-0.292-0.773,0-1.068c0.293-0.295,0.766-0.295,1.059,0l2.504,2.528l2.505-2.528c0.292-0.295,0.767-0.295,1.059,0
			s0.292,0.773,0,1.068l-2.505,2.528L12.491,11.491z" />
                                </symbol>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="furniture" role="tabpanel">
                    <div class="tab-pane active" id="all" role="tabpanel">
                        <div class="container">
                            <div class="row">
                                <div class="gallery">
                                    @foreach (CoatesWebsite.ViewModels.PictureVm pictureVm in Model.PictureVms
                                      .Where(x => x.PictureCategory == CoatesWebsite.Data.Enums.PictureCategory.Furniture))
                                    {
                        <figure>
                            <img src=@pictureVm.Path alt="" />
                        </figure>}
                                </div>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display:none;">
                                    <symbol id="close" viewBox="0 0 18 18">
                                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M9,0.493C4.302,0.493,0.493,4.302,0.493,9S4.302,17.507,9,17.507
			S17.507,13.698,17.507,9S13.698,0.493,9,0.493z M12.491,11.491c0.292,0.296,0.292,0.773,0,1.068c-0.293,0.295-0.767,0.295-1.059,0
			l-2.435-2.457L6.564,12.56c-0.292,0.295-0.766,0.295-1.058,0c-0.292-0.295-0.292-0.772,0-1.068L7.94,9.035L5.435,6.507
			c-0.292-0.295-0.292-0.773,0-1.068c0.293-0.295,0.766-0.295,1.059,0l2.504,2.528l2.505-2.528c0.292-0.295,0.767-0.295,1.059,0
			s0.292,0.773,0,1.068l-2.505,2.528L12.491,11.491z" />
                                    </symbol>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="worktops" role="tabpanel">
                    <div class="tab-pane active" id="all" role="tabpanel">
                        <div class="container">
                            <div class="row">
                                <div class="gallery">
                                    <figure>
                                        <img src="https://images.unsplash.com/photo-1443890923422-7819ed4101c0?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600" alt="" />
                                    </figure>
                                    <figure>
                                        <img src="https://images.unsplash.com/photo-1448814100339-234df1d4005d?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600" alt="" />
                                    </figure>
                                </div>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display:none;">
                                    <symbol id="close" viewBox="0 0 18 18">
                                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M9,0.493C4.302,0.493,0.493,4.302,0.493,9S4.302,17.507,9,17.507
			S17.507,13.698,17.507,9S13.698,0.493,9,0.493z M12.491,11.491c0.292,0.296,0.292,0.773,0,1.068c-0.293,0.295-0.767,0.295-1.059,0
			l-2.435-2.457L6.564,12.56c-0.292,0.295-0.766,0.295-1.058,0c-0.292-0.295-0.292-0.772,0-1.068L7.94,9.035L5.435,6.507
			c-0.292-0.295-0.292-0.773,0-1.068c0.293-0.295,0.766-0.295,1.059,0l2.504,2.528l2.505-2.528c0.292-0.295,0.767-0.295,1.059,0
			s0.292,0.773,0,1.068l-2.505,2.528L12.491,11.491z" />
                                    </symbol>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Gallery end -->
    <!-- Projects -->
    <div class="main">
        <div class="section text-center">
            <a id="projects"></a>
            <div style="background-color: #eef1ef !important">
                <br />
                <br />
            </div>
            <h2 class="text-center" style="color: #d1b181 !important">Renovations</h2>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ul id="tabs" class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#summerhouse" role="tab" aria-selected="true">
                                Summerhouse
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tregonwellroad" role="tab" aria-selected="false"> Tregonwell Road</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#ponsfordroad" role="tab" aria-selected="false"> Ponsford Road</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="my-tab-content" class="tab-content text-center">
                <div class="tab-pane active" id="summerhouse" role="tabpanel">
                    <p> Information about the Summerhouse project</p>
                    <div class="section pt-o" id="carousel-two">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 ml-auto mr-auto">
                                    <div class="card page-carousel">
                                        <div id="carouselExampleIndicatorsTwo" class="carousel slide" data-ride="carousel">
                                            <ol class="carousel-indicators">
                                                <li data-target="#carouselExampleIndicatorsTwo" data-slide-to="0" class="active"></li>
                                                <li data-target="#carouselExampleIndicatorsTwo" data-slide-to="1" class=""></li>
                                                <li data-target="#carouselExampleIndicatorsTwo" data-slide-to="2" class=""></li>
                                            </ol>



                                            @*
                                                
                                                Ben do this please and thank you.
                                                
                                                @foreach (CoatesWebsite.ViewModels.PictureVm pictureVm in Model.PictureVms
                                              .Where(x => x.PictureCategory == CoatesWebsite.Data.Enums.PictureCategory.BespokeCarpentry && x.Id > x.Id.))
                                            { }*@


                                        <div class="carousel-inner" role="listbox">
                                            <div class="carousel-item active">
                                                <img class="d-block img-fluid" src="https://images.unsplash.com/photo-1443890923422-7819ed4101c0?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600" alt="First slide" />
                                            </div>

                                            <div class="carousel-item">
                                                <img class="d-block img-fluid" src="https://images.unsplash.com/photo-1443890923422-7819ed4101c0?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600" alt="Second slide" />
                                            </div>

                                            <a class="left carousel-control carousel-control-prev" href="#carouselExampleIndicatorsTwo" role="button" data-slide="prev">
                                                <span class="fa fa-angle-left">
                                                </span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="right carousel-control carousel-control-next" href="#carouselExampleIndicatorsTwo" role="button" data-slide="next">
                                                <span class="fa fa-angle-right">
                                                </span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tregonwellroad" role="tabpanel">
                    <p>"TREGONWELL ROAD PROJECT"</p>
                    <div class="section pt-o" id="carousel-three">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 ml-auto mr-auto">
                                    <div class="card page-carousel">
                                        <div id="carouselExampleIndicatorsThree" class="carousel slide" data-ride="carousel">
                                            <ol class="carousel-indicators">
                                                <li data-target="#carouselExampleIndicatorsThree" data-slide-to="0" class="active"></li>
                                                <li data-target="#carouselExampleIndicatorsThree" data-slide-to="1" class=""></li>
                                                <li data-target="#carouselExampleIndicatorsThree" data-slide-to="2" class=""></li>
                                            </ol>
                                            <div class="carousel-inner" role="listbox">
                                                <div class="carousel-item active">
                                                    <img class="d-block img-fluid" src="./assets/img/flooring.jpg" alt="First slide" />
                                                </div>
                                                <div class="carousel-item">
                                                    <img class="d-block img-fluid" src="./assets/img/summer-house-original.jpg" alt="Second slide" />
                                                </div>
                                                <div class="carousel-item">
                                                    <img class="d-block img-fluid" src="./assets/img/joshua-stannard.jpg" alt="Third slide" />
                                                </div>
                                            </div>
                                            <a class="left carousel-control carousel-control-prev" href="#carouselExampleIndicatorsThree" role="button" data-slide="prev">
                                                <span class="fa fa-angle-left">
                                                </span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="right carousel-control carousel-control-next" href="#carouselExampleIndicatorsThree" role="button" data-slide="next">
                                                <span class="fa fa-angle-right">
                                                </span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="ponsfordroad" role="tabpanel">
                    <p>"PONSFORD ROAD PROJECT"</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Projects end -->
    <!-- Contact me -->
    <a id="contact"></a>
    <div style="background-color: #eef1ef !important">
        <br />
        <br />
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="../assets/img/tom-profile.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">
                        Tom Coates
                        <br />
                    </h4>
                    <h6 class="description">General Building & Carpentry</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>Please feel free to get in touch for a quote on any carpentry, roofing, plastering, landscaping or fencing work. </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="text-center" style="color: #584f4a !important">Get in touch</h2>
                    <form asp-action="Index" class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label style="color: #584f4a !important">Name</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="nc-icon nc-single-02"></i>
                                        </span>
                                    </div>
                                    <input asp-for="EmailVm.Name" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label style="color: #584f4a !important">Email</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="nc-icon nc-email-85"></i>
                                        </span>
                                    </div>
                                    <input asp-for="EmailVm.EmailAddress" class="form-control" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <label style="color: #584f4a !important">Message</label>
                        <textarea asp-for="EmailVm.Message" class="form-control" rows="4" placeholder="Message..."></textarea>
                        <div class="row">
                            <div class="col-md-4 ml-auto mr-auto" style="text-align: center !important">
                                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="section landing-section">
    </div>
    <!-- End Contact me -->

</body>
</html>


